html, body {
    height: 100%;
  }
 
  body {
    margin: 0;
    display: flex;
    
    width: 80%;
    height: 80%;
    transform-origin: top left;
    
    

    justify-content: center;
 
   
    align-items: center;
  }
