html, body {
    height: 100%;
  }
 
  body {
    margin: 0;
    display: flex;
    
    width: 200%;
    height: 200%;
    transform-origin: top left;
    transform: scale(80%);
    

    justify-content: center;
 
   
    align-items: center;
  }
