/*html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  
  width: 100%;
  height: 100%;
  transform-origin: top left;
  
  

  justify-content: center;

 
  align-items: center;
} */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

canvas {
  width: 100%;
}